<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timestudio.zhiyuanmovie">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.ZhiyuanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.timestudio.zhiyuanmovie"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".ui.activity.user.login.LoginActivity" />
        <activity android:name=".ui.activity.user.regist.RegistActivity" />
        <activity android:name=".ui.activity.user.resetpassword.ResetPasswordActivity" />
        <activity android:name=".ui.activity.shop.ShopOrderActivity" />
        <activity android:name=".ui.activity.find.FindWebActivity" />
        <activity android:name=".ui.activity.find.BookingActivity" />
        <activity android:name=".ui.activity.find.TopTenActivity" />
        <activity android:name=".ui.activity.find.FileAdvisoryActivity" />
        <activity android:name=".ui.activity.movie.MovieDetailsActivity" />
        <activity android:name=".ui.activity.movie.MovieShowActivity" />
        <activity android:name=".ui.activity.movie.SelectSeatActivity" />
        <activity android:name=".ui.activity.movie.TicketActivity" />
        <activity android:name=".ui.activity.mine.OrderActivity" />
        <activity android:name=".ui.activity.mine.QuestionActivity" />
        <activity android:name=".ui.activity.mine.CommentActivity" />
        <activity android:name=".ui.activity.mine.SettingActivity" />
        <activity android:name=".ui.activity.mine.ReNameActivity" />
        <activity android:name=".ui.activity.mine.RePassWordActivity" />
        <activity android:name=".ui.activity.mine.MineVipActivity" />
        <activity android:name=".ui.activity.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>